div.blog-post {
    margin: auto;
    width: 50%;
}

div.header {
    padding: 60px;
    text-align: center;
    font-size: 15px;
}

/* --styles of the blog post title and content-- */
/* todo try to "inherit" fields at some point  */
#add-blog-post-form input[type=text]:not(#blogPostDesc) {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#blogPostContent {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 100px;
}
/* --styles of the blog post title and content-- */

/* styles for buttons */
.button {
	display: inline-block;
  margin: 0;
  padding: 0.75rem 1rem;
	border: 0;
	border-radius: 0.317rem;
	background-color: #aaa;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	font-size: 1rem;
  line-height: 1.5;
	font-family: "Helvetica Neue", Arial, sans-serif;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
}

.button:hover {
	opacity: 0.85;
}
/* styles for buttons */
